/************* Color variable ******************
*****************************************/

$basic-red-color: rgba(233, 3, 55, 1);
$tomato-color: rgba(219, 90, 90, 1);
$basic-toner-color: rgba(58, 41, 47, 0.8);
$basic-toner-color-popup: rgba(58, 41, 47, 0.7);
$basic-black: rgba(49, 49, 49, 1);
$basic-white: rgba(241, 241, 241, 1);
